<!-- NG-ZORRO -->
<!-- <a href="https://github.com/NG-ZORRO/ng-zorro-antd" target="_blank" style="display: flex;align-items: center;justify-content: center;height: 100%;width: 100%;">
  <img height="300" src="https://img.alicdn.com/tfs/TB1X.qJJgHqK1RjSZFgXXa7JXXa-89-131.svg">
</a> -->

<!-- <div [ngClass]="showLoading ? 'loadingbar': ''" [style.display]="showLoading ? '': 'none'" style="position: fixed;width:100px;height:3px;z-index:100;overflow: hidden;border-radius: 3px;"></div> -->
<!-- <div nz-tooltip [nzTooltipTitle]="connectModel=='websocket' ? 'websocket连接' : 'http连接'" nzTooltipPlacement="rightBottom" [ngClass]="connectModel=='websocket' ? 'es-wsic' : 'es-httpic'"></div> -->
<router-outlet style="display: none;"></router-outlet>